body {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header {
  box-shadow: 1px 0px 3px;
}
.logo {
  margin: 50px;
}

button {
  font-size: 1.2rem;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
}
.inner.width {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.btn1 {
  color: white;
  background-color: rgb(143, 210, 41);
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.btn2 {
  color: rgb(143, 210, 41);
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid rgb(143, 210, 41);
  border-radius: 5px;
}

.navigation-menu {
  display: flex;
  justify-content: center;
}

.element:hover {
  border: 1px solid black;
  border-radius: 5px;
}

select {
  border: none;
  margin-left: 30px;
  font-size: 1.2rem;
}

.sub {
  display: flex;
  background-color: white;
  border-radius: 50px 50px 50px 1px;
  box-shadow: 1px 2px 3px rgb(119, 119, 119);
  width: fit-content;
  padding: 0px 10px;
}

.sub1 {
  color: white;
  background-color: rgb(83, 202, 143);
  padding: 10px;
  margin: 5px 0px;
  border-radius: 50px;
}

.CENT {
  width: 700px;
}
.geo {
  padding: 5000px;
  display: contents;
}

.brands {
  padding: 50px 200px;
  margin-bottom: 1000px;
}

.brands-img {
  width: 200px;
  margin: 5px;
  background-color: rgb(250, 250, 250);
  align-items: center;
}

.tables {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.bg-black {
  margin: 20px -10px;
  padding: 100px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  border: 11px solid rgb(255, 255, 255);
  text-align: left;
}

.box1 {
  max-width: 700px;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.IN-box2 {
  max-width: 30%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
}

.footerA {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  max-width: 400px;
}

.footerA1 {
  max-width: 350px;
}

.btn1:hover {
  background-color: white;
  border: 1px solid rgb(143, 210, 41);
  color: rgb(143, 210, 41);
  transition: 0.2s;
}

.btn1:active {
  color: white;
  background-color: rgb(143, 210, 41);
  padding: 8px 18px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.btn2:hover {
  background-color: rgb(143, 210, 41);
  color: white;
  transition: 0.2s;
}

.btn2:active {
  color: rgb(143, 210, 41);
  background-color: rgb(255, 255, 255);
  padding: 8px 18px;
  margin: 10px;
  border: 1px solid rgb(143, 210, 41);
  border-radius: 5px;
}

.menu-toggle-btn {
  /* height: 90px; */
  line-height: 125px !important;
  display: none !important;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 900px) {
  .menu-toggle-btn {
    display: block !important;
  }
  .navigation-menu {
    position: fixed;
    width: 100%;
    max-width: 200px;
    background: rgb(127, 127, 127);
    top: 90px;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  .navigation-menu::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(68, 68, 68);
    position: absolute;
    top: -10px;
    right: 10px;
  }
  a {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
  }
  .sub.element {
    display: flex;
    align-self: center;
  }
  .element {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .container1 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-cont {
    display: flex;
    justify-content: space-between;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 3rem;
  }

  .bg-black {
    max-width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
  }
  .box2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    flex-wrap: wrap;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  .btn {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .CENT {
    width: 100%;
    margin: 3rem;
  }
  .FOOTER-IMG {
    width: 100%;
  }

  select {
    max-width: 120px;
    margin-left: 30px;
    font-size: 1.2rem;
    margin-top: 20rem;
  }
  .navigation-menu.active {
    display: block;
  }
}
